.resume-container {
  padding: 2rem;
  background: #eef5ff;
  min-height: 100vh;
  color: #1a1a1a;
  font-family: 'Segoe UI', sans-serif;
}

.resume-title {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #013220;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #004080;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 auto 2rem;
  font-size: 1rem;
  transition: background 0.3s;
}

.download-btn:hover {
  background-color: #0059b3;
}
.skills-grid div{
  margin-top: 8px;
}
.resume-section {
  margin: 2rem 0;
  padding: 1rem;
  background: #ffffff;
  border-left: 5px solid #004080;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.Certifications li a{
  color: #0059b3;
  margin-top: 8px;
}
.resume-section h2 {
  font-size: 1.3rem;
  color: #004080;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.resume-section p,
.resume-section ul {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-left: 10px;
}
.resume-section ul li a,
.resume-section p a{
  text-decoration: none;
  color: #0059b3;
}


.resume-section ul {
  list-style-type: disc;
}

.icon {
  color: #0099ff;
  font-size: 1.1rem;
}


/* Responsive */
@media (max-width: 768px) {
  .resume-title {
    font-size: 1.8rem;
  }

  .download-btn {
    font-size: 0.95rem;
    padding: 8px 16px;
  }

  .resume-section {
    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .resume-container {
    padding: 1rem;
  }

  .download-btn {
    font-size: 0.85rem;
    padding: 7px 12px;
  }


  .resume-section h2 {
    font-size: 1.1rem;
  }

  .resume-section p,
  .resume-section ul {
    font-size: 0.95rem;
  }
}
