.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  background: linear-gradient(to right, #013220 ,#001f3f);
  color: white;
  flex-wrap: wrap;
}

.hero-left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-left h3 {
  font-size: 1.5rem;
}

.wave-icon {
  color: #f0c420;
  margin-left: 10px;
}

.highlight {
  color:  rgb(26, 162, 241);
  font-weight: bold;
}

.role {
  color:  rgb(26, 162, 241);
}

.hero-right img {
  width: 300px;
  max-width: 100%;
  border-radius: 50%;
}

.intro-text {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  max-width: 600px;
  line-height: 1.6;
  color: #e0e0e0;
}

/* floating-blocks style */

.floating-blocks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.block {
  width: 60px;
  height: 60px;
  transform: rotateX(45deg) rotateZ(45deg);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.pink {
  background-color: #f472b6;
}

.green {
  background-color: #6ee7b7;
}

.purple {
  background-color: #c084fc;
}

.blue {
  background-color: #60a5fa;
}

/* Responsive */
@media (max-width: 1168px) {
  .hero {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    display: block;
  }
  .hero-right {
    margin-top: 2rem;
  }
  .hero-right img {
    width: 228px;
  }
  .intro-text {
    max-width: 100%;
  }
}

@media (max-width: 460px) {
  .floating-blocks{
    display: none;
  }
  .hero-left h1 {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
  }

  .hero-left h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .hero-left h3 {
    font-size: 1.2rem;
  }

}
